/* ICONOS FOOTER */
.footer-redes img {
    filter: invert(1) brightness(1.2);
}

.footer-redes a:hover img {
    filter:
        invert(1) brightness(1.2) saturate(2.8) drop-shadow(0 0 10px currentColor) drop-shadow(0 0 14px currentColor);
}

/* Colores por red */
.footer-redes a[href*="twitter"] {
    color: #1DA1F2;
}

.footer-redes a[href*="instagram"] {
    color: #E1306C;
}

.footer-redes a[href*="facebook"] {
    color: #1877F2;
}

html.dark .footer-datetime {
    opacity: 0.9;
}

html.dark #footer-date {
    color: #bdbdbd;
}

.theme-icon {
    transition: transform 0.3s ease;
}

.toggle_dark:active .theme-icon {
    transform: rotate(180deg);
}

html.dark .carousel-control-prev {
    filter: invert(1) brightness(1);
}

html.dark .carousel-control-next {
    filter: invert(1) brightness(1);
}

html.dark .proyectos-filtros {
    filter: invert(1) brightness();
}

html.dark .proyecto-card.destacado {
    box-shadow: 0 10px 30px rgb(255, 255, 255, .30);
}

html.dark .btn-ver-mas {
    background: var(--color-acento);
}

html.dark .logo-dark-fix {
    filter: invert(1) brightness(1.3) drop-shadow(2px 4px 6px rgba(255, 255, 255, 1));
}