@media (max-width: 992px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-avatar {
    width: 280px;
  }

  .hero-botones {
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .about-grid {
    grid-template-columns: 1fr;
  }
}