@media (max-width: 992px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-avatar {
    width: 280px;
  }

  .hero-botones {
    justify-content: center;
  }

  .about-grid {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .footer-datetime {
    order: 3;
  }
}